# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GameLeaderboardApp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\KursC#\GameLeaderboard\src\GameLeaderboardApp\.idea\.idea.GameLeaderboardApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
